.about{
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}
.about_me h3{
    margin-bottom: 20px;
    font-size: 25px;
}
.about_me p{
    color: gray;
    font-size: 20px;
    margin-bottom: 40px;
}
.about_me_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}
.about_me_photo img{
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

@media (max-width: 780px){
    .about_me{
        text-align: center;
    }
    .about_me_photo img{
        max-height: 300px;
    }
}
