.contact{
    padding-top: 70px;
}

.contact_information h2{
    margin-bottom: 15px;
    font-size: 40px;
}

.contact_information p{
    margin-bottom: 35px;
    font-size: 25px;
    color: gray;
}

.contact_form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact_add_text{
    grid-column: 1 / -1;
}

.contact_add_name input, .contact_add_email input, .contact_add_text textarea{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.contact_add_name{
    padding-right: 15px;
    margin-bottom: 20px;
}

.contact_add_email{
    padding-left: 15px;
    margin-bottom: 20px;
}

.contact_add_text textarea{
    height: 200px;
}

.contact_button{
    padding-top: 25px;
}

@media (max-width: 760px){
    .contact_information h2, .contact_information p{
        text-align: center
    }
    .contact_form{
        grid-template-columns: 1fr;
    }
    .contact_add_name{
        padding-right: 0;
    }
    .contact_add_email{
        padding-left: 0;
    }
    .contact_button{
        display: flex;
        justify-content: center;
    }
}