*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jost", sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid gray;
}

.login_form{
    width: 100%;
}

.form_grid_container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.welcome_back{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 100px;
}

.welcome_back h2{
    font-size: 35px;
    margin-bottom: 15px;
}

.welcome_back p{
    font-size: 25px;
}

.form{
    padding: 15px;
    padding-bottom: 50px;
    padding-top: 15px;
}

.create{
    margin-top: 10px;
    margin-bottom: 20px;
}

.create a{
    text-decoration: none;
    color: blue;
}

.form h2{
    margin-bottom: 25px;
}

.btn{
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 0px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.btn:hover{
    background-color: #516EB8;
    border: #516EB8;
    transition: background-color 1s, border 1s;
}

@media (max-width: 600px) {
    .form_grid_container{
        grid-template-columns: 1fr;
    }
    input {
        width: 100%;  /* Поля займають всю ширину контейнера на маленьких екранах */
    }
    .welcome_back{
        padding: 0px;
    }
}
