.post_details{
    padding-top: 40px;
}
.one_post_details{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.post_details_topic a{
    padding: 3px;
    color: white;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.post_details_topic{
    margin-bottom: 30px;
}

.post_details_title a{
    font-size: 60px;
    text-decoration: none;
    font-weight: bold;
}

.post_details_title{
    margin-bottom: 15px;
}

.post_details_date a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

.post_details_date{
    padding-bottom: 60px;
}

.post_details_photo img{
    width: 100%;
    height: 100%;
    max-height: 400px;
    border-radius: 15px;
}

.post_add_content{
    margin-top: 60px;
    font-size: 25px;
    color: gray;
    margin-bottom: 35px;
}

.post_details_container{
    padding-left: 10px;
    padding-right: 10px;
}

.previous_or_next_ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.previous, .next{
    padding-top: 40px;
    padding-bottom: 40px;
}

.previous{
    padding-right: 40px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.next{
    padding-left: 40px;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 100%;
}

.next_tag a, .previous_tag a{
    padding: 15px;
    background-color: gray;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
}

.next_tag, .previous_tag{
    margin-bottom: 25px;
}

.next_title, .previous_title{
    margin-bottom: 20px;
}

.next_title a, .previous_title a{
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

.next_date a, .previous_date a{
    color: gray;
    text-decoration: none;
}

.change_post h2{
    margin-bottom: 40px;
}

.change_post a{
    color: white;
    text-decoration: none;
}

@media (max-width: 760px){
    .post_details_date{
        text-align: center;
    }
    .post_details_title, .post_add_content, .change_post{
        text-align: center;
    }
}